<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Sapphirus Systems Pvt Ltd">

	<listeners>
		<listener class-name="com.cucumber.utility.Listener" />
	</listeners>
	
       
       
      <!--   <test name="ChromeBrowser">
		<parameter name="browser" value="chrome" />
		<classes>
			
			<class name="com.cucumber.TestRunner.OrgMgmtChangePasswordRunner" />
			<class name="com.cucumber.TestRunner.OrgMgmtLaunchTheApplicationRunner" />		
            <class name="com.cucumber.TestRunner.OrgMgmtUpdateProfileRunner" />		
            <class name="com.cucumber.TestRunner.OrgMgmtViewInstitutionsRunner" />	
         

            <class name="com.cucumber.TestRunner.OrgSalesChangePasswordRunner" />
			<class name="com.cucumber.TestRunner.OrgSalesLaunchTheApplicationRunner" />		
            <class name="com.cucumber.TestRunner.OrgSalesViewInstitutionsRunner" />	
            <class name="com.cucumber.TestRunner.OrgSalesViewUserListRunner" /> 
            <class name="com.cucumber.TestRunner.OrgSalesReceiptsRunner" /> 
         
            <class name="com.cucumber.TestRunner.AdminCertificateApprovalsRunner" />
	        <class name="com.cucumber.TestRunner.AdminAddCertificateTypeRunner" /> 
	        <class name="com.cucumber.TestRunner.AdminAddCertificateNameRunner" />  
	        <class name="com.cucumber.TestRunner.AdminRateContractListRunner" /> 
	         
	        <class name="com.cucumber.TestRunner.AdminCreditsListRunner" />
	        <class name="com.cucumber.TestRunner.AdminGeneratedCertificatesRunner" /> 
	        <class name="com.cucumber.TestRunner.AdminVerifiedCertificatesRunner" /> 
	        <class name="com.cucumber.TestRunner.AdminReceiptsRunner" /> 
	        <class name="com.cucumber.TestRunner.AdminUpdateProfileRunner" /> 
	        
	        <class name="com.cucumber.TestRunner.AdminChangePasswordRunner" /> 
	        <class name="com.cucumber.TestRunner.AdminApprovalSettingsRunner" /> 
	        <class name="com.cucumber.TestRunner.AdminUpdateInstitutionRunner" /> 
	        <class name="com.cucumber.TestRunner.AdminRegistrationRunner" />  
	        
	          
	            
	          </classes>
	    </test> -->
	    
	  
	    
	    
	  
      <!--     <test name="ChromeBrowser">
		<parameter name="browser" value="chrome" />
		<classes>
			
		 	 <class name="com.cucumber.TestRunner.UserWelcomeTextRunner" />
			 <class name="com.cucumber.TestRunner.UserVerifyCertificatesWithEmptyAcademicRefNumfieldRunner" />
             <class name="com.cucumber.TestRunner.UserVerifiedCertificatesWithoutEnablecheckboxesRunner" />
			 <class name="com.cucumber.TestRunner.UserVerificationURLRunner" />
			 <class name="com.cucumber.TestRunner.UserRecentCertificateGenerationsRevokeRunner" />
			 
			 <class name="com.cucumber.TestRunner.UserRecentCertificateGenerationsandVerificationsQRCodeRunner" />
			 <class name="com.cucumber.TestRunner.UserRecentCertificateGenerationsandVerificationsOriginalCertificatesRunner" />
			 <class name="com.cucumber.TestRunner.UserNewMailEditRunner" />
			 <class name="com.cucumber.TestRunner.UserLaunchTheApplicationRunner" />
			 <class name="com.cucumber.TestRunner.UserRecentCertificateGenerationsRecallRunner" />

			<class name="com.cucumber.TestRunner.UserInternalPrintingwithoutuploadingCSVfileRunner" />
			<class name="com.cucumber.TestRunner.UserInternalPrintingCSVFileWithSpacesandDotsRunner" />
			<class name="com.cucumber.TestRunner.UserInternalPrintingCSVFileWithSpacesandDotsinAcademicReferenceNumberRunner" />
			<class name="com.cucumber.TestRunner.UserInternalPrintingCSVFileWithoutAcademicReferenceNumberRunner" />
			<class name="com.cucumber.TestRunner.UserInternalPrintingCSVFileStudentEmailWithSpacesandDotsRunner" />

			<class name="com.cucumber.TestRunner.UserGenSingleMobileWithless10digitsRunner" />
			<class name="com.cucumber.TestRunner.UserGenSingleMobileWithAbove10digitsRunner" />
			<class name="com.cucumber.TestRunner.UserGenSingleEmailWithMultipleSpecialcharectersRunner" />
            <class name="com.cucumber.TestRunner.UserGenSingleBygivingFutureMonthandYearRunner" />
            <class name="com.cucumber.TestRunner.UserGenSingleByUploadingJPGfileRunner" />
            
            <class name="com.cucumber.TestRunner.UserGenSingleByUploadingJPEGfileRunner" />
            <class name="com.cucumber.TestRunner.UserGenSingleByUploadingDOCfileRunner" />
            <class name="com.cucumber.TestRunner.UserGenSingleByUploadingDOCXfileRunner" />
            <class name="com.cucumber.TestRunner.UserGuidelinesRunner" />
            <class name="com.cucumber.TestRunner.UserInternalPrintingByUploadingWithInvalidIssueYearandMonthRunner" />




            </classes>
	    </test> 
	    
	    
	    
	    
	        <test name="ChromeBrowser">
		<parameter name="browser" value="chrome" />
		<classes>
		    
		    <class name="com.cucumber.TestRunner.UserGenerateBulkByUploadingCombinationOffilesRunner" />
            <class name="com.cucumber.TestRunner.UserGenerateBulkByUploadingDOCfileRunner" />
            <class name="com.cucumber.TestRunner.UserGenerateBulkByUploadingDOCXfileRunner" />
            <class name="com.cucumber.TestRunner.UserGenerateBulkByUploadingJPEGfileRunner" />
            <class name="com.cucumber.TestRunner.UserGenerateBulkByUploadingJPGfileRunner" />
            
            <class name="com.cucumber.TestRunner.UserGenerateBulkByUploadingPDFfileRunner" />
            <class name="com.cucumber.TestRunner.UserGenerateBulkUploadingandRemovethefileRunner" />
            <class name="com.cucumber.TestRunner.UserGenerateBulkWithoutSelectingCertificatetypeRunner" />
            <class name="com.cucumber.TestRunner.AdminGeneratedCertificatesNewMailEditRunner" />
            <class name="com.cucumber.TestRunner.AdminRecentCertificateGenerationsandVerificationsOriginalCertificatesRunner" />
            
		    <class name="com.cucumber.TestRunner.AdminRecentCertificateGenerationsandVerificationsQRCodeRunner" />
		    <class name="com.cucumber.TestRunner.AdminRecentCertificateGenerationsandVerificationsSendMailRunner" />
		    <class name="com.cucumber.TestRunner.AdminRecentCertificateGenerationsRecallRunner" />
		    <class name="com.cucumber.TestRunner.AdminRecentCertificateGenerationsRevokeRunner" />
		    <class name="com.cucumber.TestRunner.UserInternalPrintingCSVFileStudentEmailWithoutSpecialCharectersRunner" />
		    
		    <class name="com.cucumber.TestRunner.UserInternalPrintingCSVFIleStudentNameWithAlphabetsandNumericsRunner" />
		    <class name="com.cucumber.TestRunner.UserInternalPrintingByUploadingCSVWithInvalidIssueYearandMonthRunner" />
            <class name="com.cucumber.TestRunner.UserInternalPrintingUploadCSVFIleWithoutEmailIdRunner" />
   	        <class name="com.cucumber.TestRunner.UserGenerateBulkUploadCSVFileEmailIDWithSpacesandDotsRunner" />
   	        <class name="com.cucumber.TestRunner.UserGenerateBulkByUploadingWithEmptyAcademicRefNumColumnRunner" />
   	        
   	        <class name="com.cucumber.TestRunner.UserGenerateBulkByUploadCSVFIleWithInvalidCertificateNameRunner" />
            <class name="com.cucumber.TestRunner.UserGeenrateBulkByUploadCSVFIleWithoutIssueMonthRunner" />
	        <class name="com.cucumber.TestRunner.UserInternalPrintingByUploadInvalidCSVFileRunner" />
	        <class name="com.cucumber.TestRunner.UserGeneratedCertificateWithoutSelectingCheckboxesRunner" />
	        <class name="com.cucumber.TestRunner.UserInternalPrintingCSVFileStudentEmailWithAlphabetsandNumericsRunner" />
		    
     

		    </classes>
	    </test> -->
	    
	    
		  
	       <test name="ChromeBrowser">
		<parameter name="browser" value="chrome" />
		<classes>
			
			
	        <class name="com.cucumber.TestRunner.UserGenerateSingleWithoutApprovalRunner" />
	        <class name="com.cucumber.TestRunner.UserGenerateBulkWithoutApprovalRunner" />
	        <class name="com.cucumber.TestRunner.UserVerifyCertificatesRunner" />
	        <class name="com.cucumber.TestRunner.UserGeneratedCertificatesRunner" />
	        <class name="com.cucumber.TestRunner.UserVerifiedCertificatesRunner" />
	        
	       <class name="com.cucumber.TestRunner.UserBulkGeneratedCertficatesRunner" />
	        <class name="com.cucumber.TestRunner.UserUpdateProfileRunner" />
	        <class name="com.cucumber.TestRunner.UserChangePasswordRunner" />
	        <class name="com.cucumber.TestRunner.UserGenerateBulkWithApprovalRunner" />
	        <class name="com.cucumber.TestRunner.UserDashboardRecentCertificateGenerationsRunner" />
	        
	        <class name="com.cucumber.TestRunner.UserDashboardViewAllGenerationsRunner" />
	        <class name="com.cucumber.TestRunner.UserRecentCertificateVerificationsRunner" />
	        <class name="com.cucumber.TestRunner.AdminApplicationTitleRunner" />
	        <class name="com.cucumber.TestRunner.AdminBacktotopbuttonRunner" />
	        <class name="com.cucumber.TestRunner.AdminLaunchTheApplicationRunner" />
	        
	        <class name="com.cucumber.TestRunner.UserBacktotopbuttonRunner" />
	        <class name="com.cucumber.TestRunner.UserBulkDashboardLinkRunner" />
	        <class name="com.cucumber.TestRunner.UserDashboardRecentCertificateGenerationsCertificateTypedropdownRunner" />
	        <class name="com.cucumber.TestRunner.UserGenerateBulkByUploadCSVFIleWithoutIssueYearRunner" />
	        <class name="com.cucumber.TestRunner.UserGenerateBulkByUploadCSVFileWithEmptyMobileNumberRunner" />
	        
            <class name="com.cucumber.TestRunner.UserGenerateBulkByUploadCSVFIleWithInvalidCertificateTypeRunner" />
            <class name="com.cucumber.TestRunner.UserGenerateBulkByUploadCSVFIleWithEmptyCertificateNameRunner" />
            <class name="com.cucumber.TestRunner.UserGeneratedCertificatesWithoutEnablecheckboxesRunner" />
            <class name="com.cucumber.TestRunner.UserInternalPrintingUploadCSVFileWithoutStudentNameRunner" />
            <class name="com.cucumber.TestRunner.UserInternalPrintingByUploadingCSVWithInvalidCertificateTypeRunner" />

	        
	         </classes>
	    </test> 
	    
	    
	       
		    
</suite>


